* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav header"
    "nav main";
  grid-template-columns: 350px 3fr;
  grid-template-rows: 0.7fr 3fr;
}

header {
  padding: 60px;
  grid-area: header;
  /* background-color: bisque; */
}

header h1 {
  color: black;
  padding-bottom: 2px;
  border-bottom: 3px solid black;
  width: 150px;
}

nav {
  grid-area: nav;
  background-color: #50598b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

nav h1,
nav h3 {
  color: white;
}

nav .profile-img {
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid #d1b500;
}

nav .nav-links {
  padding: 30px 0;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
}

nav .nav-links a {
  margin: 5px 0;
  padding: 10px 70px;
  text-decoration: none;
  text-align: center;
  background-color: #d1b500;
  border-radius: 5px;
  color: black;
}

nav .socials {
  /* background-color: rgb(197, 196, 255); */
  padding: 12px 0;
}

nav .socials a {
  text-decoration: none;
  margin: 0 10px;
}

nav .nav-links .home-aktif,
nav .nav-links .blog-aktif,
nav .nav-links .contact-aktif,
nav .nav-links .portfolio-aktif {
  background-color: rgb(163, 141, 0);
  border: 2px solid rgb(173, 173, 173);
  color: white;
}

main {
  padding: 0 60px;
  grid-area: main;
  /* background-color: yellowgreen; */
}

blockquote {
  font-family: Georgia;
  font-size: 15px;
  font-style: italic;
  position: relative;
  line-height: 1.4em;
}

blockquote::before,
blockquote::after {
  content: open-quote;
  font-size: 40px;
  color: #999;
  line-height: 0;
  position: relative;
}

blockquote::after {
  content: close-quote;
}

main .quote-author {
  font-family: georgia;
}
