<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    
  }

  .sidebar {
    padding: 50px;
    background-color: rgb(80, 89, 139);
    height: 100vh;
    margin-right: 70px;
    border-right: 3px solid rgba(66, 66, 77, 0.593);
  }
  .profileIMG {
    border-radius: 50%;
    border: 2px solid rgb(209, 181, 0);
  }
  main {
    display: flex;
    flex-direction: row;
  }
  .nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    text-decoration: none;
    margin: 10px;
    background-color:  rgb(209, 181, 0);
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    color: rgb(0, 0, 0);
  }
  .nav-link:hover {
    text-decoration: none;
    margin: 10px;
    background-color:  rgb(163, 141, 0);
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    /* border: 2px solid   rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
  }

  .social-links{
    margin-top: 30px;
    text-align: center;
  }
  .social-links h3{
    text-align: center;
    color: white;
  }
  .social-link{
    text-decoration: none;
    margin: 5px;
  }

  .content {
    margin-top: 50px;
    margin-right: 200px;
  }

  p {
    text-align: justify;
  }

  .title-page{
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    width: 150px;
  }

  blockquote{
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    line-height: 1.4em;
    position: relative;
  }
  blockquote::before, blockquote::after{
    content: open-quote;
    font-size: 60px;
    color: #999;
    line-height: 0;
    position: relative;
    top: 23px;
  }

  blockquote::after{
    content: close-quote;
  }

  a{
    text-decoration: none;
    
  }

  .portfolio-card{
    background-color: rgb(0, 200, 255);
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 400px;  
    border-radius: 4px;       
  }

  .button, .btn-submit{
    padding: 10px;
    /* margin: 15px; */
    background-color: rgb(255, 208, 0);
    width: max-content;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
  }

  .button:hover, .btn-submit:hover {
    background-color:  rgb(163, 141, 0);
    color: rgb(255, 255, 255);
  }

  .blog-card{
    background-color: rgb(0, 200, 255);
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 800px;
    border-radius: 4px; 
    display: flex;
    flex-direction: row;
  }

  input, textarea{
    padding: 15px;
    border-radius: 4px;
    /* margin-left: 15px; */
  }

  .input-fullname, .input-email{
    margin-top: 10px;
    width: 200px;
  }
=======
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    
  }

  .sidebar {
    padding: 50px;
    background-color: rgb(80, 89, 139);
    height: 100vh;
    margin-right: 70px;
    border-right: 3px solid rgba(66, 66, 77, 0.593);
  }
  .profileIMG {
    border-radius: 50%;
    border: 2px solid rgb(209, 181, 0);
  }
  main {
    display: flex;
    flex-direction: row;
  }
  .nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    text-decoration: none;
    margin: 10px;
    background-color:  rgb(209, 181, 0);
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    color: rgb(0, 0, 0);
  }
  .nav-link:hover {
    text-decoration: none;
    margin: 10px;
    background-color:  rgb(163, 141, 0);
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    /* border: 2px solid   rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
  }

  .social-links{
    margin-top: 30px;
    text-align: center;
  }
  .social-links h3{
    text-align: center;
    color: white;
  }
  .social-link{
    text-decoration: none;
    margin: 5px;
  }

  .content {
    margin-top: 50px;
    margin-right: 200px;
  }

  p {
    text-align: justify;
  }

  .title-page{
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    width: 150px;
  }

  blockquote{
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    line-height: 1.4em;
    position: relative;
  }
  blockquote::before, blockquote::after{
    content: open-quote;
    font-size: 60px;
    color: #999;
    line-height: 0;
    position: relative;
    top: 23px;
  }

  blockquote::after{
    content: close-quote;
  }

  a{
    text-decoration: none;
    
  }

  .portfolio-card{
    background-color: rgb(0, 200, 255);
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 400px;  
    border-radius: 4px;       
  }

  .button, .btn-submit{
    padding: 10px;
    /* margin: 15px; */
    background-color: rgb(255, 208, 0);
    width: max-content;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
  }

  .button:hover, .btn-submit:hover {
    background-color:  rgb(163, 141, 0);
    color: rgb(255, 255, 255);
  }

  .blog-card{
    background-color: rgb(0, 200, 255);
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 800px;
    border-radius: 4px; 
    display: flex;
    flex-direction: row;
  }

  input, textarea{
    padding: 15px;
    border-radius: 4px;
    /* margin-left: 15px; */
  }

  .input-fullname, .input-email{
    margin-top: 10px;
    width: 200px;
  }
>>>>>>> ba7fae9e1c5e73435db8a1aca3f2d9bb7d50ff44
